{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'partials/_header.html' %}

<!-- ======= Login Section ======= -->
<!-- {% include 'partials/_float_message.html' %} -->

<main id='main'>
    <!-- ======= Login Section ======= -->
    <section id="login" class="contact">
    
        <div class="container" data-aos="fade-up">
    
          <header class="section-header">
            <p>Login</p>
          </header>
    
          <div class="row gy-4">
    
            <div class="col-lg-6 mx-auto">
              <form action={% url 'login' %} method="POST">
                {% csrf_token %}
                <div class="row gy-4 php-email-form">
                  
                  {% for field in form.visible_fields %}
                    <div class="col-md-12">
                      {{ field }}
                    </div>
                  {% endfor %}
                  <div class="col-md-12 text-center">
                    <button type="submit">Login</button>
                  </div>
                </div>
              </form>
              <div class="text-center">
                <p>Ainda não tem conta. <a href="{% url 'register' %}">Registre-se.</a></p>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </section><!-- End Login Section -->
</main>

  {% endblock content %}
